<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tao.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.tao.entity.pojo.User">
        insert into user (username, nickname, password, email)
        values (#{username}, '1', #{password}, #{email})
    </insert>

    <select id="queryByEmail" resultType="com.tao.entity.pojo.User">
        select *
        from user
        where email = #{email}
    </select>

</mapper>